*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background-color: rgb(255, 217, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.recipes-title{
    text-align: center;
    color: rgb(42, 44, 65);
    text-transform: uppercase;
}
.cheems-chef{
    display: flex;
    align-content: center;
    margin: 0 auto;
}
.container-recipes {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 10px 30px;
    border: 1px solid rgb(42, 44, 65);
    border-radius: 10px;
}
.recipes-name{
    color: rgb(239, 37, 60);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}
.box-name-recipes{
    
    list-style-type:none;
    border: 1px solid black;
    border-radius: 10px;
}
/* Lasagna */

.meal-title{
    color: rgb(42, 44, 65);
    text-align: center;
    text-transform: uppercase;
}
.meal-photo{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 10%;
}
.meal-info{
    text-transform: none;
    text-align: center;
    border: 2px solid rgb(42, 44, 65);
    margin: 10px;
    padding: 30px;
    font-size: 1.2em;
}
.meal-container{
    width: 50%;
    border: 1px solid rgb(42, 44, 65); 
    border-radius: 10px;
    margin: 10px auto;

}
.meal-recipe-sub{
    border: 1px solid rgb(42, 44, 65);
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.meal-ing-steps{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    margin-top: 0;
}
.return-main-page{
    margin: 0 auto;
}
.return-main-page a{ 
    text-decoration: none;
    text-transform: uppercase;
    width: 30px;
    color: rgb(42, 44, 65);
}